/***************  P O S T V L I S T S **************/
.uc-post-viewed.ja-pp-style-1 {
    margin-bottom: 20px;
}
.uc-post-viewed.ja-pp-style-1 li {
    display: block;
    overflow: hidden;
    padding: 7px 0;
}

.uc-post-viewed.ja-pp-style-1 .uc-post-viewed-title {
    line-height: 20px;
    font-size: 14px;
    font-weight: normal;
    padding: 5px 0;
    margin: 0;

}

.uc-post-viewed.ja-pp-style-1 .papular-posts-widg-thumbnail {
    margin-right: 10px;
    width: 80px;
    border: none;
    height: auto;
    padding-right: 5px;
    padding-left: 0;
    box-sizing: border-box;
}

body.rtl .uc-post-viewed.ja-pp-style-1 .papular-posts-widg-thumbnail {
    padding-left: 5px;
    padding-right: 0;
}

.uc-post-viewed-title-wrapper {
    width: 70%;
}

.uc-post-viewed-thumb-wrapper {
    width: 25%;
    max-width: 85px;
    margin-left: 5%;
}

.uc-post-viewed.ja-pp-style-1 li {
    list-style: none;
    border-bottom: 1px solid #ddd;
}

.uc-post-viewed.ja-pp-style-1 li a {
    color: inherit;
    float: left;
}

.uc-post-viewed.ja-pp-style-1 .uc-post-viewed-title-wrapper.block-el {
    display: block;
    float: none;
    width: 100%;
}

.uc-post-viewed.ja-pp-style-1 li a:hover {
    text-decoration: none;
    box-shadow: none;
}

.uc-post-viewed-date {
    color: #989898;
    font-size: 14px;
    display: inline-block;
}


/* body {direction:rtl;} */

body.rtl .uc-post-viewed.ja-pp-style-1 .papular-posts-widg-thumbnail {
    margin-left: 10px;
    margin-right: 0 !important;
}

body.rtl .uc-post-viewed.ja-pp-style-1 li a {
    float: right;
}

/***************  I C O N F O N T **************/
@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?noiiu');
    src: url('fonts/icomoon.eot?noiiu#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?noiiu') format('truetype'),
        url('fonts/icomoon.woff?noiiu') format('woff'),
        url('fonts/icomoon.svg?noiiu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ucicon-"],
[class*=" ucicon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ucicon-clock:before {
    content: "\e94e";
}

.ucicon-spinner3:before {
    content: "\e97c";
}

.ucicon-eye2:before {
    content: "\e9ce";
}

.ucicon-eye-blocked:before {
    content: "\e9d1";
}

/****************  G R I D ********************/
.ucrow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 1em 0;
}
.ucrow li{
    list-style: none !important;
    width: 23%;
    box-sizing: content-box;
}
.ucrow li h4{
    margin: 10px 0;
    font-weight: normal;
}

/****************  S I D E N A V ********************/
.uc-black-window {
    background: #000;
    cursor: pointer;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    z-index: 4000;
}

.uc-sidenav {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: hidden;
    overflow-y: auto;
    z-index: 9998;
    max-width: 80%;
    padding: 30px 40px 0;
    right: -100%;
    transition: all 1s;
    min-width: 200px;
    box-sizing: content-box;
}

.uc-sidenav.open {
    transition: all 1s;
    display: block;
    right: 0;
    left: auto;
    max-width: 400px;
    z-index: 99999999999;
}

.uc-open-sidenav span {
    display: block;
    margin: 0 auto 10px;
}

.uc-sidenav {
    background: #FFF;
    color: #334141;
}

.uc-sidenav a {
    color: #334141;
}

.uc-sidenav a.nasa-sidebar-return-shop:hover {
    background-color: #296dc1;
    border-color: #296dc1;
    color: #FFF;
}

.uc-open-sidenav {
    margin-bottom: 75px;
    display: block;
    text-align: center;
    position: fixed;
    z-index: 100;
    top: 65%;
    right: 0;
    border: 1px solid #ddd;
    padding: 13px 10px;
    background: #fff;
    color: #334141;
    opacity: 0.3;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 5px 0px 0px 5px;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    transition: all 350ms ease;
    -moz-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 10px rgba(0, 0, 0, 0.1);
    -ms-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 10px rgba(0, 0, 0, 0.1);
    -o-webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09), 0 4px 20px rgba(0, 0, 0, 0.1);
    border-left: 1px solid #d8d8d8;
    vertical-align: middle;
}

.uc-open-sidenav:hover {
    opacity: 1;
    text-decoration: none;
}

.uc-no-post-viewed {
    text-align: center;
}

.uc-no-post-viewed i {
    font-size: 80px;
    display: inline-block;
    color: #bbb;
    margin-top: 25px;
}

.uc-no-post-viewed p {
    font-size: 20px;
    margin-top: 15px;
}

.uc-close-sidenav {
    float: right;
    margin-left: 10px;
    margin-right: 0;
}

body.rtl .uc-close-sidenav {
    margin-right: 10px;
    margin-left: 0;
}

body.rtl .uc-close-sidenav {
    float: left;
}

body.rtl .uc-post-viewed-thumb-wrapper {
    margin-right: 0;
    margin-left: 5%;
}

.uc-sidenav-title {
    display: inline-block;
    font-weight: bold;
    margin: 0 auto 10px;
}
